.messageContainer {
  width: 100%;
  height: 100%;
}

.myMessage {
  background-color: aquamarine;
  text-align: right;
}

.opponentMessage {
  background-color: magenta;
  text-align: left;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

.inputText {
  flex: 3;
}

.inputButton {
  flex: 1;
}

.readyContainer {
  justify-content: center;
  align-items: center;
}
